<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteRule ^$ Webroot/ [L]
    RewriteRule (.*) Webroot/$1 [L]
</IfModule>

#deny from all 
#<files ~ “^w+.(gif|jpe?g|png)$”> 
#order deny,allow
#allow from all 
#</files>